/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* *{
  margin :0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* body {
  background: linear-gradient(
    0deg,
    rgba(195, 126, 34, 1) 0%,
    rgba(234, 253, 45, 0.5) 100%
  );
} */

/* .App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.player{
display: block;
background-image: linear-gradient(to bottom, violet, indigo);
margin: 0px auto;
padding: 30px;
border-radius: 16px;
}

.player h4{
  color: whitesmoke;
  font-size: 14px;
  text-transform: uppercase;
  text-align:center;
  font-weight: 500;
}

.player p{
  color: #fff;
  font-size: 14px;
  /* text-transform: uppercase; */
  /* font-weight: 500;
  text-align: center;
} 

 .player p span{
  font-weight: 400;
  width: fit-content;
}


.details .details_img{
   position:relative; 
  width:fit-content;
  margin:0 auto;
} 

.details .details_img img{
  display:block;
  margin:20px auto;
  object-fit: contain;
  min-width: 300px;
  min-height: 300px;
  max-width:300px;
  max-height: 300px; 

}

 .details .details_title{
  color:#eee;
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

.details .details_artist{
  color:#aaa;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.control{
  display:flex;
  align-items: center;
  justify-content:center ;
  margin-bottom: 30px;
}  

.control .control_playbutton{
  display:flex;
  margin:0 30px;
  padding:20px;
  border-radius:50%;
  border:none;
  background-color: #ffce00;
  color:white;
  font-size: 24px;
  cursor: pointer;
} 

.control .control_skipBtn{
  background: none;
  border:none;
  outline:none;
  color:black;
  cursor:pointer;
  font-size: 18px;
}

audio{
  opacity:0.4;
  outline-width: 0px;
  margin-bottom: 5px;
  margin-top: -20px;
}

audio::-webkit-media-controls-play-button{
  display:none;
} */ 

